* {
  font-family: sans-serif;font-family: Arial, Helvetica, sans-serif; line-height: 1.6;
}
body {
  background-color: #dddddd;
  padding-left: 100px;
  padding-right: 100px;

}
div {
  border: 1px solid yellow;

}



div header nav a {
  color: white;
  border: solid 1px;
}

#site_header {
  background-color: #ff8523;

}

section {
  border-bottom: 1px solid #dddddd;
  width: 1050px;
  border-bottom-width: medium;
  background-color: white;
}

a {
  margin: 3px; color: #1fabe5;

}

p {
  width: 800px;
  background-color: white;
}

h2 {
  color: #1fabe5; font-weight: bold;

}

h3 {
  color: #1fabe5;
}
ul {
  font-weight: bold;
  list-style: disc;
  background-color: white;
}

table, td, th {
  border: solid 1px #1fabe5;
  border-collapse:collapse;
  margin-left: 20px;
  width: 990px;
  background-color: white;

}


thead tr td {
  background-color: #1fabe5;
  color: white;
}




form {
  background-color: #dddddd;
  margin-top: 5px;
  margin-bottom: 5px;
}

form div label{
  background-color: #ff8523;
  color: white;

}




!--font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6



}
colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
